.DS_Store

**/.DS_Store
.idea
bin
build
target
.settings
.classpath
.project
dependency-reduced-pom.xml
*.sublime-*
.gradle
*.iml
app/common/dal/generator_error.log
app/test/~/logs
*.log
logs/

.vscode

*.iml

.metadata

node_modules
static/node_modules/
**/.factorypath
velocity.log**
.gradle
src/main/resources/static/api
src/main/resources/static/api
src/test/
pic
deploy/config/config_dev.properties
deploy/config/config_test.properties
deploy/config/config_prd.properties
deploy/config/config_hk.properties